<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="32000">
        <setting label="32001" type="text" id="url1" default="" />
        <setting label="32002" type="text" id="username1" option="hidden" default="" enable="!eq(-1,)" />
        <setting label="32003" type="text" id="password1" option="hidden" default="" enable="!eq(-1,)" />
    </category>
    <category label="32010">
        <setting label="32011" type="text" id="url2" default="" />
        <setting label="32012" type="text" id="username2" option="hidden" default="" enable="!eq(-1,)" />
        <setting label="32013" type="text" id="password2" option="hidden" default="" enable="!eq(-1,)" />
    </category>
    <category label="32020">
        <setting label="32021" type="text" id="url3" default="" />
        <setting label="32022" type="text" id="username3" option="hidden" default="" enable="!eq(-1,)" />
        <setting label="32023" type="text" id="password3" option="hidden" default="" enable="!eq(-1,)" />
    </category>
    <category label="32030">
        <setting label="32031" type="text" id="url4" default="" />
        <setting label="32032" type="text" id="username4" option="hidden" default="" enable="!eq(-1,)" />
        <setting label="32033" type="text" id="password4" option="hidden" default="" enable="!eq(-1,)" />
    </category>
    <category label="33000">
        <setting label="33001" type="number" id="width" default="480" option="int" />
        <setting label="33002" type="number" id="height" default="480" option="int" />
        <setting label="33003" type="slider" id="interval" default="500" range="50,50,1000" option="int" />
	<setting label="33004" type="bool" id="autoClose" default="true" />
        <setting label="33005" type="slider" id="duration" default="15" range="3,1,120" option="int" enable="eq(-1,true)" />
        <setting label="33006" type="enum" id="alignment" default="0" option="int" lvalues="34000|34001|34002|34003|34004|34005|34006|34007|34008|34009" />
        <setting label="33007" type="number" id="padding" default="20" option="int" />
        <setting label="33008" type="bool" id="animate" default="true" />
    </category>
</settings>
